<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="stylesheets/reviews.css" type="text/css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <title>Database</title>
</head>

<body>

  <div id="nav">
    <div class="nav-btn">
      <a href="/">Home</a>
    </div>
    <div class="nav-btn">
      <a href="reviews/new">Form</a>
    </div>
    <div class="nav-btn">
      <a href="#">LogOut</a>
    </div>

  </div>

  <form id="search-bar">
    <input type="text" placeholder="Search Category">
    <input type="text" placeholder="Search Total Rating">
    <input type="text" placeholder="Search Place">
    <input type="text" placeholder="Search Reviewer">
  </form>



  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Category</th>
        <th>Quality of the Food</th>
        <th>Service</th>
        <th>Atmosphere</th>
        <th>Cleanliness</th>
        <th>Price</th>
        <th>TotalRating</th>
        <th>Reviewer</th>
        <th>Date</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <% reviews.forEach(function(review){ %>
    <tbody class="place-list">
      <tr>
        <td><%= review.name %></td>
        <td><%= review.category %></td>
        <td class="foodQualityRate"><%= (review.taste + review.presentation + review.quantity)/ 3%></td>
        <td class="serviceRate"><%= (review.courteus + review.timing + review.presence) / 3 %></td>
        <td class="atmosphereRate"><%= (review.attractive + review.generalClean + review.temperature) / 3 %></td>
        <td class="cleanlinessRate"><%= (review.bathroom + review.tableFloor ) / 2 %></td>
        <td class="priceRate"><%= (review.priceQuality + review.priceQuantity) / 2 %></td>
        <td class="totalRate">
          <%= (review.taste + review.presentation + review.quantity + review.courteus + review.timing + review.presence + review.attractive + review.generalClean + review.temperature + review.bathroom + review.tableFloor + review.priceQuality + review.priceQuantity)/ 13%>
        </td>
        <td><%= review.author %></td>
        <td><%= review.date.toDateString() %></td>
        <td>
          <form action="/reviews/<%=review.id%>?_method=DELETE" method="POST">
            <input type="submit" value="X" id="delete">
          </form>
        </td>
        <td><a href="/reviews/<%=review.id%>/edit"><i id="edit" class="far fa-edit"></i></a></td>
        <td><a href="#" data-tool-tip="<%= review.notes %>"><i class="far fa-sticky-note"></i></a></td>
      </tr>
    </tbody>
    <% }); %>
  </table>

  <script src="/javascripts/reviewIndex.js"></script>
</body>

</html>